/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}


h1 {
    font-size: 4rem;
    text-align: center;
}

img:hover{
 
    opacity: 0.6;
    transition: ease-in;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    color: white;
}

.topnav .icon {
    display: none;
}
#message {
    font-size: 17px;
    margin-top: 5px;
}


.footer{
    border-top: solid;
}
.LastPost{
    text-align: center;
    margin-top: 40px;
}
.trait{
    border: solid 0.5px black;
}
@media screen and (min-width: 640px) {
    #accordionPosts {
        display: none;
    }
    #accordionComments {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    #onlinePosts {
        display: none;
    }
    #reportedComments {
        display: none;
    }
}

